.imperio{background-color: red;}
.rebeldes{background-color: blue;}
#darth {font-size: 40px;}
#luke {font-style: italic;}
.soldados{ border-style: dashed; border-width: 5px 10px 5px 10px; letter-spacing: 20px;}
.unidadesdeapoyo { text-align: center;}
.naves {text-transform: uppercase ;}